{% extends 'base.html' %}

{% block title %}
    Последние обновления подписок
{% endblock title %}

{% block content %}
    {% include 'posts/includes/switcher.html' %}
    {% load cache %}
    <h1>Последние обновления подписок</h1>
    {% cache 20 index_page page_obj.number %}
        {% for post in page_obj %}
            {% include 'includes/article.html' %}
            {% if post.group %}
                <a href="{% url 'posts:group_list' post.group.slug %}"><br>все записи группы {{ post.group.title }} </a>
            {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% endcache %}
    {% include 'posts/includes/paginator.html' %}

{% endblock content %}